.product-wrapper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}


.product-footer,
.product-description,
.product-title {
  padding-right: $padding-large-horizontal;
  padding-left: $padding-large-horizontal;
  //padding-top: $padding-large-vertical;
  //padding-bottom: $padding-large-vertical;
}

.product-title {
  font-weight: 600;
  font-size: 1em;
  padding-top: $padding-small-vertical;
  padding-bottom: $padding-small-vertical;
}

.product-img-container {
  //object-fit: fill;
  ////object-fit: contain;
  //object-fit: cover;
  //outline:purple dashed 2px;
}
//.product-img {
//  display: inline;
//  height: 174px;
//  width: 100%;
//  object-fit: cover;
//
//}

.product-footer {
  border-top: 1px solid $gray-lighter;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.product-price {
  font-weight: bold;
  font-size: 1.4em;
}

.product-btn {
  margin-top: $padding-large-vertical;
}