// TODO: rename file => custom-variables.scss?
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Catch all to avoid having to put the img-responsive class on every
// single image and other elements

img, embed,
object, video {
  max-width: 100%;
}



//== Thumbnails
//

// Override Bootstrap style
//.thumbnail a {
//  max-height: 174px;
//}
.thumbnail a > img {
  display: inline;
  height: 174px;
  width: 100%;
  object-fit: cover;
}